ul.menu-list
    each link,title in data.navPages
        li
            a(href= link).menu-link= title

//ul.nav
//    +navLink('#','1')
//    +navLink('#','2')
//    +navLink('#','3')
//    +navLink('#','4')

+test(data.navPages)