include ../mixins
block variables

doctype html
html(lang="ru-RU")
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- favicon block start
        //- favicon block end

        link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-grid.min.css")
        link(rel="stylesheet" type="text/css" href="assets/plugins/slick-slider/slick.css")
        link(rel="stylesheet" type="text/css" href="assets/plugins/fancybox/jquery.fancybox.min.css")
        link(rel="stylesheet" type="text/css" href="assets/css/main.css")
    body(class=pageClass)
        .wrapper
            include ../modules/header
            block content
            include ../modules/footer
    script(src="assets/plugins/jquery.min.js")
    script(src="assets/plugins/slick-slider/slick.min.js")
    script(src="assets/plugins/fancybox/jquery.fancybox.min.js")
    script(src="assets/js/main.js")